
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-5 ">
            <h3 class="text-center">list of contacts</h3>
            
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">name</th>
                    <th scope="col">handphone</th>
                    <th scope="col">info</th>
                  </tr>
                </thead>
                <tbody>
                
                  <% contacts.forEach((contact, i) => { i++ %>
                    <tr>
                    <th scope="row"><%= i %></th>
                    <td><%= contact.nama %></td>
                    <td><%= contact.noHp %></td>
                    <td><%= contact.email %></td>
                    <td>
                      <a href=" ./contact/<%= contact.nama %>">edit</a>
                      </td>
            
                    </tr>
                    <% }) %>




                </tbody>
              </table>



        </div>
    </div>
</div>


